.container
  %h1
    Favorisierte Blogposts
  = render "backend/shared/navigation"
  .row.mt-3
    = link_to new_backend_favorite_blogpost_path do
      .btn.btn-primary
        Neuer Favorisierter Blogpost
  .row.mt-3
    .col-sm-3
      ID
    .col-sm-3
      UserID
    .col-sm-3
      Slug
    .col-sm-3.d-flex
      Actions
  %hr
  - @posts.each do |post|
    .row.mt-3
      .col-sm-3
        = post.id
      .col-sm-3
        = post.user_id
      .col-sm-3
        = post.slug
      .col-sm-3
        = link_to edit_backend_favorite_blogpost_path(post) do
          .btn.btn-primary
            Bearbeiten
        = link_to backend_favorite_blogpost_path(post), method: :delete do
          .btn.btn-warning
            Löschen

