.container
  %h1
    Topics (Themen)
  = render "backend/shared/navigation"
  .row.mt-3
    = link_to new_backend_topic_path do
      .btn.btn-primary
        Neues Topic
  .row.mt-3
    .col-sm-3
      ID
    .col-sm-3
      Name
    .col-sm-3
      Description
    .col-sm-3.d-flex
      Actions
  %hr
  - @topics.each do |topic|
    .row.mt-3
      .col-sm-3
        = topic.id
      .col-sm-3
        = topic.name
      .col-sm-3
        = topic.description
      .col-sm-3
        = link_to edit_backend_topic_path(topic) do
          .btn.btn-primary
            Bearbeiten
        = link_to backend_topic_path(topic), method: :delete do
          .btn.btn-warning
            Löschen

