%ul.nav
  %li.nav-item
    = link_to "Benutzer", backend_users_path, class: 'nav-link'
  %li.nav-item
    = link_to "Favorit Blog Posts", backend_favorite_blogposts_path, class: 'nav-link'
  %li.nav-item
    = link_to "Topics", backend_topics_path, class: 'nav-link'
  %li.nav-item
    = link_to "Ticket", backend_tickets_path, class: 'nav-link'
  %li.nav-item
    = link_to "Kommentar", backend_comments_path, class: 'nav-link'
  %li.nav-item
    = link_to "Chart", backend_chart_path, class: 'nav-link'